@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Color setup */
:root {
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--body);
}

/* Custom Button */

.btn {
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:hover{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:focus{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

/* NAVBAR */

.navbar .btn-outline-secondary {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar {
    padding: 32px 0;
}

.nav-link {
    margin-left: 41px;
    color: var(--gray-1);
    font-size: 16px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

/* Hero Section */
.hero {
    padding: 80px 0;
}

section.hero .text {
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--black);
}

.button {
    padding-top: 70px;
}

.button .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

/* Setup */
section.setup {
    padding: 80px 0;
}

section.setup .text-header h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.setup .text-header p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--gray-1);
    padding: 27px 0;
}

section.setup .icons {
    padding: 28px 0;
}

section.setup h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    padding-bottom: 18px;
}

section.setup p {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(--gray-1);
    max-width: 300px;
    margin: 0 auto;
}

/* Information */
section.information {
    padding: 40px 0;
}

section.information h5 {
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    color: var(--black);
}

section.information p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: var(--gray-1);
    padding-top: 20px ;
}

section.information .info-1 {
    padding: 50px 0;
}


/* fooetr */

footer {
    padding-top: 30px;
    margin-bottom: 50px;
}

footer a{
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
    line-height: 18px;
}

footer .copy {
    margin-top: 32px;
    font-size: 14px;
    color: var(--gray-1);
    font-weight: 400 ;
}

/* Resposive  */
@media screen and (max-width: 576px) {
.navbar {
    padding: 20px ;
}

    section.hero,
    section.setup,
    section.information {
        text-align: center;
    }

    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 30px 20px;
      
        margin-bottom: 10px;
    }

    .button .ms-3{
        margin-left: 0 !important;
    }

    
}